.wrapper_button {
    display: flex;
    justify-content: space-between;
   
}

.container_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logout {
    /* padding-right:40px; */
}

.username {
    margin:10px;
}