<div class="wrapper_button">
  <div class="container_button">
    <button routerLink="/fishes" *ngIf="isLoggedIn" class="btn btn-primary" style="margin: 10px">
    Fish
    </button>
    <button routerLink="/fishtank" *ngIf="isLoggedIn" class="btn btn-primary" style="margin: 10px">
      <span [innerHtml]="mytank"> </span >
    </button> 
  </div>
  <div>
    <button routerLink="/auth/login" *ngIf="!isLoggedIn" class="btn btn-primary" style="margin: 10px">
    Login
    </button>
    <button routerLink="/auth/register" *ngIf="!isLoggedIn" class="btn btn-primary" style="margin: 10px">
    Register
    </button>
    <div class="container_button">
      <div>
        <p *ngIf="username" class="username">Welcome {{username}}</p>
      </div>
       <button *ngIf="isLoggedIn" class="btn btn-dark" style="margin: 10px">
      Logout
    </button>
    </div> 
  </div>
</div>
  