.overlay  {
    position: relative;
}
 
.container_main {
    position: relative;
    min-height: 1080px;
    display:flex;
    margin:auto;
    justify-content: center; 
    background-image: url(../assets/mainBg.jpg);    
    background-size:cover;
    background-repeat: no-repeat; 
    min-height: 100vh; 
}
 