.errorContainer {
    margin:50px 0px;
}

.iconContainer{
    height:40px;
    width: 80px;
    display: flex;
    border-radius:8px;
    cursor: pointer;
}
.dHContainer{
  height:40px; 
  display: flex;
  justify-content: space-between;
  border-radius:8px;
  cursor: pointer;
}

.icon { 
    min-width: 30px;
    width:30px;
    fill:black;
    color: black;
}

.value{ 
    padding-left: 5px;
    line-height: 1.5;
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-top:2px;
}

.dHIcon{
  min-width: 40px;
}

.goodValue {
  color: rgb(11, 225, 11);
}

.noValue {
  color:black;
}

.blink1 { 
  animation: blinker1 ease-in-out  2s infinite;
}
.blink2 { 
  animation: blinker2 ease-in-out  1s infinite;
}
.blink3 { 
  animation: blinker3 ease-in-out  0.4s infinite;
}

@keyframes blinker1 {
  100% { 
    color:black;
  }
  50% { 
    color: yellow; 
  }
}
@keyframes blinker2 {
  100% { 
    color:black; 
  }
  50% { 
    color: orange;
  }
}
@keyframes blinker3 {
  100% { 
    color:black; 
  }
  50% { 
    color: red;
  }
}
 