   <h1  *ngIf="this.difference!=='noValue'" mat-dialog-title>Your tank {{type}} value of {{currentValue}}<span *ngIf="this.type === 'temperature'"><span style=' vertical-align: super;font-size: 70%'>o</span><span>C</span></span> {{isDatamatchingMessage}} the suggested value of {{recommendedValue}}<span *ngIf="this.type === 'volume'">L</span>
     <span *ngIf="this.type === 'temperature'">
        <span  style=' vertical-align: super;font-size: 70% '>o</span>
        <span>C</span>
     </span>
     <span *ngIf="this.type === 'dH'"> dH</span>
   </h1>

   <h1  *ngIf="this.difference==='noValue'" mat-dialog-title>Your tank {{type}} value is {{currentValue}}<span *ngIf="this.type === 'temperature'"><span style=' vertical-align: super;font-size: 70%'>o</span><span>C</span></span><span *ngIf="this.type === 'volume'">L</span>  
    </h1>
