.fishtank {
    background-image: url('./../../../assets/fishtank.jpeg');
    background-size: contain;
    min-width: 460px;
    min-height: 300px;

    /* margin-right: auto;
    margin-left: auto; */
    margin-left: 50px;


}