.fishlistWrapper {
  max-height: 35vw; 
  overflow-y: auto;
  margin-right: 10px;
}

.fishMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding-left: 8px; 
}

.iconContainer {
  position: relative;
  top:-4px;
  display: flex; 
  align-items: center;
  height:18px;
}

.okContainer{
  background-color: green;
  animation: blinker1 ease  1s infinite;
  border-radius: 50%; 
}

.icon {
  width:20px;
}

.iconAdjust{
  position: relative;
  top:-3px;
  background-color: green;
  border-radius: 50%; 
}
  
.iconAdjust2{
  width:20px;
  height:19px;
  border-radius: 50%; 
}


.fishContainer {
  display: flex;
  align-items: center; 
  width:140px; 
}
 
.smallFishContainer { 
  width: 70px;
  text-align: center;
}

.fishImage{
  max-height: 50px;
  max-width: 70px;
  margin: auto;
}

.firstSpan {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.secondSpan {
  font-size: 16px;
  font-weight: bold;
}
 
.blink1 { 
    animation: blinkerOk ease 1s infinite;
}

.blink2 { 
  animation: blinker2 ease 1s infinite;
}

.blink3 { 
  animation: blinker3 ease 0.4s infinite;
}

@keyframes blinkerOk {
  100% { 
    background-color: green; 
    color: green;
    box-shadow: 0px 0px 9px 0px green; 
  }
}
  
@keyframes blinker1 {
  100% { 
    color: green; 
  }
}

@keyframes blinker2 {
  100% { 
    color: orange; 
  }
}

@keyframes blinker3 {
  100% { 
    color: red; 
  }
}
 
@media (min-width: 1280px){
  .fishlistWrapper{
      width: 20vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
  }
}